@page
@model EditFamilyModel
@{
    ViewData["Title"] = "Edit family";
}


<div class="font-sans min-h-screen flex items-start justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="/img/logo.png" alt="Petz">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Edit family</h2>
    </div>
    <section>
      <form method="post" class="mt-8 space-y-6">

        <div class="form-group">
            <input type="text" asp-for="FamilyInput.Name" value=@Model.FamilyInput.Name class="form-control rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" placeholder="Name" />
            <span asp-validation-for="FamilyInput.Name" class="mt-2 text-center text-sm text-gray-600"></span>
        </div>
        <div class="form-group">
            <textarea asp-for="FamilyInput.Description" value=@Model.FamilyInput.Description class="form-control rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10" placeholder="Description">
              @Model.FamilyInput.Description
            </textarea>
            <span asp-validation-for="FamilyInput.Description" class="mt-2 text-center text-sm text-gray-600"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-md rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
              </svg>
            </span>
            Save
          </button>
        </div>
      </form>
    </section>
  </div>
</div>